<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgq.mapper.BlogMapper">

    <sql id="two">

    </sql>
    <sql id="one">
        count(*) <include refid="two"></include>
    </sql>

    <select id="count" resultType="int">
        select <include refid="one"/> from time_zone_name
    </select>
</mapper>